NEXTAUTH_URL="https://newsfeed.example.com"
NEXTAUTH_SECRET="MY_SECRET"

# Casdoor
CASDOOR_ENDPOINT="https://casdoor.example.com"
CASDOOR_CLIENT_ID=CLIENT_ID
CASDOOR_CLIENT_SECRET=CLIENT_SECRET
CASDOOR_CERTIFICATE=cert-built-in

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/newsfeed"

#FreshRSS
FRESHRSS_URL="https://freshrss.example.com"
FRESHRSS_API_USER="newsfeed"
FRESHRSS_API_PASSWORD="newsfeed"

#Ollama
OLLAMA_URL="https://ollama.example.com"
OLLAMA_MODEL="LLAMA3.2:3B"

#Plausible
NEXT_PUBLIC_PLAUSIBLE_ENABLE=true
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=newsfeed.example.com
NEXT_PUBLIC_PLAUSIBLE_URL=plausible.example.com