#Traefik
BASE_DOMAIN=example.com

NEXTAUTH_URL="https://newsfeed.${BASE_DOMAIN}"
NEXTAUTH_SECRET="SUPER_SECRET_STRING"

# Casdoor
CASDOOR_ENDPOINT=https://casdoor.${BASE_DOMAIN}
CASDOOR_CLIENT_ID=CLIENT_ID
CASDOOR_CLIENT_SECRET=CLIENT_SECRET
CASDOOR_CERTIFICATE=cert-built-in

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/newsfeed"

#FreshRSS
FRESHRSS_URL=https://freshrss.${BASE_DOMAIN}
FRESHRSS_API_USER=newsfeed
FRESHRSS_API_PASSWORD=newsfeed

#Ollama
OLLAMA_URL=http://192.168.3.31:11434
OLLAMA_MODEL=LLAMA3.2:3B